<h1>Generator</h1>

<!-- Here we render the choices after user clicks the section preview -->

<div id="text-choices">
  <p>Choices here!</p>
</div>

<!-- Submit button that triggers update method -->
<button>hi</button>
