<h1>Generator</h1>

<!-- Here we render the section preview after user clicks the section preview -->
<div id="text_generator">

</div>


<!-- Show the input choices -->
<h3>Pick which element you want to edit</h3>

<button id="text_h1input">h1</button>
<button id="text_pinput">p</button>

<!-- Color and Font options -->


<br />
<br />
<!-- Submit button that triggers update method -->
<button>Send</button>
