<h1>Generator</h1>

<!-- Here we render the section preview after user clicks the section preview -->
<h3>Click on a section on the left to load </h3>
<div id="text_generator" class="sectionpreview">

</div>


<!-- Show the input choices -->

<h3> Then	pick which element you want to edit</h3>

<button class="selectbtn" id="text_h1input" onclick="element_select('h1', 'text_h1input')">h1</button>
<button class="selectbtn" id="text_pinput" onclick="element_select('p', 'text_pinput')">p</button>

<!-- Color and Font options -->

<h3>Change Colors</h3><br />
<div class="fontcolors" style="display: inline-flex;">
    <button onclick="colorInput('red')" style="width: 200px; height: 40px; margin:5px; color:red;">Red font</button>
    <button onclick="colorInput('blue')" style="width: 200px; height: 40px; margin:5px; color:blue;">Blue font</button>
    <button onclick="colorInput('green')" style="width: 200px; height: 40px; margin:5px; color:green;">Green font</button>
</div>
<br />

<h3>Change Font </h3>
<div class = "fonts" style="display: inline-flex;" onclick="fontInput('Lato', sans-serif)">
    <div class="lato_font">
      <img src="http://www.dafontfree.com/wp-content/post-font-image/post-image/lato-regular-font.png" onclick="latofont()" style="width: 200px; height: 40px; margin:5px; fontFamily: 'Lato', sans-serif;" />
    </div>

    <div class = "indie_font" onclick="fontInput('Indie Flower', cursive)">
        <img src="http://www.fontriver.com/i/fonts/indie_flower/indieflower_preview.jpg" onclick="indiefont()" style="width: 200px; height: 40px; margin:5px; fontFamily: 'Indie Flower', cursive;">
    </div>

    <div class = "yellowtail_font" onclick="fontInput('Yellowtail', serif)">
        <img src="http://content.altfonts.com:88/img/Y/E/Yellowtail.png" onclick="yellowtail()" style="width: 200px; height: 40px; margin:5px; fontFamily: 'Yellowtail', cursive;">
    </div>
</div>

<!-- Submit button that triggers update method -->
<div>
	<a class="submitbtn" href="#" onclick="createCssString()">Send</a>
</div>
