<h1>Generator</h1>

<!-- Here we render the choices after user clicks the section preview -->



<div id="textinput">
	<h3>h1</h3>

	<div width="200px" height="200px" style="background-color:pink;" id="colorblock" onclick="colorInput()">&nbsp;</div>

	<h3 id="giveColor">Hola</h3>

</div>



<div id="text-choices">
  <p>Choices here!</p>
</div>


<!-- Submit button that triggers update method -->
<button>Send</button>
