<h1>Generator</h1>

<!-- Here we render the choices after user clicks the section preview -->



<div id="textinput">
	<h3>h1</h3>
	<p>color:</p>
	<div width="200px" height="200px" style="background-color:pink;" id="textinput_h1_color" onclick="textinput_h1_color()">&nbsp;</div>
	<p>background-color:</p>
	<div width="200px" height="200px" style="background-color:red;" id="textinput_h1_backgroundcolor" onclick="textinput_h1_backgroundcolor()">&nbsp;</div>
</div>




<!-- Submit button that triggers update method -->
<button>Send</button>
