<div class="navbar">
  <ul class="navbar-ul">

    <li><a href="#home">Home</a></li>
  <% @sections.each do | section | %>
    <li><a href="#<%= section.section_name %>"><%= section.section_name %></a></li>
  <% end %>
    <li><a href="#about">About</a></li>
    <li><a href="#contact">contact</a></li>
 </ul>
</div>
