<h1>Preview</h1>


<span id="text_preview">
<% @sections.each do | section | %>
    <div class="<%= section.section_name %>" id="<%= section.section_name %>">
    <%= raw section.html_content %>
    </div>
<% end %>
</span>
