<h1>Preview</h1>


<span id="text_preview">
<% @sections.each do | section | %>
<br />
<!-- id only for text section! -->
    <div class="<%= section.section_name %>" id="<%= section.section_name %>">
        <div>
            <%= raw section.html_content %>
        </div>
    </div>

<% end %>
</span>
