<h1>Preview</h1>

<% @sections.each do | section | %>
<!-- id only for text section! -->
	<h1>section_name: <%= section.section_name %></h1>
	<div id="<%= section.section_name %>" class="<%= section.section_name %>">
	<%= raw section.html_content %>

	</div>
<% end %>
