<h1>Preview</h1>

<span id="text_preview" >
<% @sections.each do | section | %>
		<div id="<%= section.section_name %>" class="<%= section.section_name %>">
			<%= raw section.html_content %>
		</div>
</span>
<% end %>
