<%= render 'homenavbar' %>

<div id="left_side" style="width: 45%;">
  <%= render 'preview' %>
</div>
<!-- Template view -->

<div id="right_side"style="width: 45%;">

<%= render 'generator' %>
</div>
