<%= render 'homenavbar' %>

<h1> Make your template - woohoooo </h1>

<div id="left_side" style="width: 45%;">
  <%= render 'preview' %>
</div>
<!-- Template view -->

<div id="right_side"style="width: 45%;">
<%= render 'generator' %>
</div>
