<h1> Make your template - woohoooo </h1>

<div>
  <div id="container">
     <div id="header">
     <%= render 'navbar' %>
     </div>
     <div id="body">
       <h1> Make your template - woohoooo </h1>

       <div id="left_side" style="width: 45%;">
             <%= render 'preview' %>
       </div>
       <div id="right_side"style="width: 45%;">
       <!-- Generator -->
       <%= render 'generator' %>
       </div>

     <div id="footer">
       <%= render 'footer' %>

     </div>
  </div>
</div>
